<script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
<div class="container-fluid" style="background-color: rgb(39,170,225); color:white; font-family:'Oswald', sans-serif;">
    <div class="jumbotron" style="background-color: rgb(39,170,225);">
        <h1 data-id="{{user}}">WELCOME TO GOALDEN</h1>
        <br>
        <!-- container-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Task</th>
                          <th scope="col">Unit</th>
                          <th scope="col">Target</th>
                          <th scope="col">Completed</th>
                          <th scope="col">Update</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each tasks}}
                        <tr>
                          <td>{{this.id}}</td>
                          <td>{{this.task}}</td>
                          <td>{{this.unit}}</td>
                          <td>{{this.target}}</td>
                          <td>{{this.completed}}</td>
                          <td>
                            <input id="{{this.id}}">
                            <button class="update btn btn-secondary" id="submit-{{this.task}}" data-id="{{this.id}}">update</button>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" align="center">
                    <div class="card-body">
                        <br />
                        <a class="btn btn-primary" href="/user/tasks/{{user}}">add task</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <script src="/js/user-profile.js"></script>
